#about{
    padding-top: 4rem;
    padding-bottom: 6rem;
    background: #fffceb;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 252, 235);
}

#beige{
    color: #c2a482;
    font-size: .8rem;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

#aboutHeading{
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 1.875rem;
    line-height: 1.7;
    font-weight: 400;
    position: relative;
}

#waves2{
    max-width: 9%;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}

#aboutTitle{
    display: inline-block;
}

#aboutInnerContainer3{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 5rem;
    text-align: center !important;
}

#aboutInnerContainer2{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;    
}

#aboutInnerContainer1{
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.aboutContainer{
    position: relative;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#sign{
    max-width: 30%;
    margin-bottom: 0 !important;
    vertical-align: middle;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

#aboutPara1{
    display: block;
    font-family: "Lora", "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 3rem !important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;

}

#aboutText{
    display: block;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#aboutPara2{
    margin-bottom: 3rem !important;
    line-height: 1.6;
    margin-bottom: 1.875rem;
    font-size: .925rem;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

#aboutHeader{
    font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 3rem !important;
    font-size: .8571rem;
    position: relative;
    color: inherit;
}

#aboutTextSection{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#aboutContent{
    text-align: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#aboutImagesContainer{
    column-count: 2;
    -webkit-column-gap: 7px;
    margin-bottom: 3rem !important;
}

#aboutImage{
    margin-bottom: 7px;
}

#aboutImages{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 100%;
    max-width: 75%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}